body{

    font-family: 'Outfit', sans-serif;
    background-color: 	#e2e4e9;
    font-weight: 400, 700;
}
img{
    display: block;
    width: 300px ;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
    
}
.container{
    background-color: white;
    width:   300px ;
    height:  450px;
    margin:  80px auto 40px auto ;
    padding: 15px;
    border-radius: 20px;
}
.text{
    margin: auto;
    width: 70%;
    padding-top: 20px;  

   }
 p{
    margin: auto;
    color: grey;
    padding-top: 20px;  
    
 }

